* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565a;
}

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

form {
  display: block;
  position: relative;
}

form::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}

form .container {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 30px;
  z-index: 2;
}

form h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-info {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-info label {
  display: block;
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-info:focus-within label {
  color: #fe4880;
}

.form-info input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

.form-info input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form button,
.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #ffce00 50%,
    #ffce00 50%,
    #fe4880
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  cursor: pointer;
}

form button {
  margin-top: 20px;
  position: relative;
}

form button:hover,
.welcome button:hover {
  background-position: 100% 0%;
}

.welcome {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 30px 30px;
}

.welcome h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #fe4880;
}

.welcome button{
  margin-left: 260px;
}

.error{
  position: absolute;
  font-size: 8px;
  margin-top: -10px;
  margin-bottom: 20px;
  color:red;
}